.container {
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.topContent {
  width: 408px;
  margin-top: 10.04%;
  margin-left: 9.02%;
  color: #eeeeee;
}

.firstText {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 20px;
}

.secondText {
  color: #c4c4c4;
}

%boxStyles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomBox {
  margin-top: 9.18%;
  padding-bottom: 12.2vh;
  @extend %boxStyles;
}

.box {
  position: relative;
  height: 26.66vh;
  width: 81.94vw;
  overflow: hidden;
  flex-grow: 1;
  @extend %boxStyles;
}

.arrowBox {
  width: 4.51vw;
  margin: 0 1.39vw;
}

.arrow {
  width: 100%;
  object-fit: contain;
}

.arrow:hover {
  cursor: pointer;
}

.rightArrow {
  transform: rotate(180deg);
}

.itemsContainer {
  display: flex;
  height: 100%;
  width: 175%;
  flex-shrink: 0;
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .arrowBox {
    display: none;
  }
  .bottomBox {
    flex-direction: column;
  }
  .box {
    flex-direction: column;
    overflow: visible;
    height: 100%;
    width: 100%;
  }
  .itemsContainer {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-basis: 50%;
    transition: all 0.5s ease-in-out;
  }
}

@media only screen and (max-width: 420px) and (orientation: portrait) {
  .firstText {
    font-size: 20px;
  }

  .secondText {
    font-size: 13px;
    width: 80%;
    margin-bottom: 8vh;
  }
  .topContent {
    margin-left: 10px;
  }
}
